@import "reset.css";

:root {
    --bg-primary-color: #48996e;
    --bg-secondary-color: #3b805b;
}

.nav_list {
    font-size: 0;
}

.nav_list_item {
    display: inline-block;
    text-align: center;
    position: relative;
    background-color: var(--bg-primary-color);
}

.nav_list_item:hover {
    background-color: var(--bg-secondary-color);
}

.nav_list_item_link {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    border: 1px solid var(--bg-secondary-color);
    padding: 20px;
    min-width: 200px;
    font-size: 20px;
}

.nav_list_sub {
    position: absolute;
    display: none;
}

.sub_main {
    top: 100%;
}

.nav_list_item:hover > .nav_list_sub {
    display: block;
    z-index: 9999;
}
.sub_subordinate {
    top: 0;
    left: 100%;
}

